
@font-face {
	font-family: 'Intro';
	src: url('../fonts/Intro.eot');
	src: local('☺'), url('../fonts/Intro.woff') format('woff'), 
	url('../fonts/Intro.ttf') format('truetype'), 
	url('../fonts/Intro.svg') format('svg');

}

@media (max-width: 414px;) {
      
      h1{
      font-size: 12pt !important;
      font-family: 'Intro', sans-serif;
      line-height: 120%;
     } 


     
    


}

.cover-img {
	padding: 0;
	margin: 0;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 160%;
	line-height: 180%;
}


h1, h3 {
font-family: 'Intro', sans-serif;
line-height: 130%;

}

h3.order {
	margin-bottom: 60px;
}

.cover {
background-color: black;
/*margin-top: -250px;*/
margin-top: -20%;
padding: 20px 25px 30px 15px;

}

.photo-first {
	margin-top: 5% !important;
	/*border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255,0.5) !important;
	margin-bottom: 10% !important;*/
}

.title {
margin-top: 70%;
margin-left: 25% !important;
}

.title-sm {
margin-top: 20% !important;
margin-left: 25% !important;
}

.text {
/*width: 300px;*/
margin-left: 25% !important;
}

.text-sm {
margin-top:5%;
margin-left: 25% !important;
}

.photo {
	margin-top: -5% !important;
	/*border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255,0.5) !important;
	margin-bottom: 10% !important;*/
}

.description {

/*width: 300px;*/
margin-top: 75%;
margin-left: 25% !important;

}

.nopadding {
padding: 0 !important;
}


.title-right {
margin-top: 70%;

}

.title-right-sm {
margin-top: 20%;

}

.text-2-sm {
/*width: 300px;*/
margin-top:5%;
}

.photo-right {
	margin-top: 5% !important;
	/*border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255,0.5) !important;*/
	margin-bottom: 10% !important;
}

.description-right {

/*width: 300px;*/
margin-top: 75%;


}

.description-3 {

/*width: 300px;*/
margin-top: 40%;
margin-left: 25% !important;

}

.manual {
	margin-top: 5% !important;
	margin-bottom: 10% !important;
	
}

.manual-img {
	margin-bottom: 10px; 
	
}

.order {
	margin-bottom: 30px !important;
}

.instagram {

	margin-bottom: 100px;
}

.footer {
	margin-top: 10px;
	margin-bottom: 20px;
}

.small {
	font-size: 80% !important;
	line-height: 140% !important;
}

.order-phone {
	font-size: 400% !important;
	text-decoration: none !important;
}

a.order-phone
{
	text-decoration: none !important;
	border-bottom: none !important;
	color: white;
}


.order-text {
	margin-top: 40px;
}

ul.order-list {

font-size: 100%;
line-height: 180%;
list-style-type: none;
margin-left: -40px;
}

.logo {
	margin-top: 10%;
}

.mobilephone {
	 font-size: 24pt !important;
}



a:link {

 border-bottom: 1px solid;
 border-bottom-color: rgba(35, 82, 124,0.5);
 text-decoration: none;
}


a:visited {

border-bottom: 1px solid;
border-bottom-color: rgba(82, 36, 141,0.5);
text-decoration: none;

}

a:hover {
 border-bottom: 1px solid;
 border-bottom-color: rgba(14,75,155,0.8);
 text-decoration: none;
}

